.sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: chocolate;
}
.logo{
    margin-left: 1rem;
    color: antiquewhite;
    font-size: 50px;
    font-weight: bolder;
}
.item{
    display: flex;
}

.ul{
    display: flex;
    margin: 25px;
    color: antiquewhite;
    font-weight: bolder;
}

li{
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-weight: bolder;
}
